html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr1: #d90a2c;
  --clr2: #0a0a0a;
  --clr3: #fff;
}

::selection {
  color: var(--clr2);
  background: var(--clr3);
}

body {
  background: var(--clr2);
  color: var(--clr3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  height: 1000px;
}

a:active {
  background-color: transparent;
}

/* WEBSITE */

#hero {
    min-height: 100vh;
    background: var(--clr1);
    overflow: hidden;
}

#hero ::selection {
    background: rgba(255, 255, 255, 0.747);
    color: #fff;
}

#styled-text {
    font-size: 20rem;
    transform: rotate(-45deg);
    color: #ca0b2b;
    pointer-events: none;
    font-family: 'Times New Roman', Times, serif;
}

#styled-text h1 {
    position: absolute;
    left: -350px;
    top: -400px;
    z-index: -99;
}

#navbar {
    display: flex;
    padding: 50px 50px;
}

#logo {
  z-index: 1;
  cursor: pointer;
}

#logo:hover {
  opacity: .8;
}

#navbar ul {
    display: flex;
    margin-left: auto;
}

#navbar ul li {
    margin: 0 30px;
    cursor: pointer;
    z-index: 3;
}

#navbar ul li:hover {
  opacity: .8;
}

#hero-text h1 {
  position: relative;
  top: 0%;
  z-index: 99;
  line-height: 150px;
  font-size: 8rem;
  left: 100px
}

/* UTILITY CLASSES */

.remove_list_style {
  list-style: none;
}

.remove_link_style {
  text-decoration: none;
  color: inherit;
}

.trans2s {
  transition: 0.2s ease-in-out;
}

.bold {
    font-weight: bold;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
